body.front-page {
  
}
.front-page #page-outer {
    padding-top: 0;
    position: relative;
    width: 500px;
}
.front-page .rightside {
	padding-top: 20px;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4), 0 1px 2px rgba(0, 0, 0, 0.3) inset;
    opacity: 0.9;
    position: absolute;
    right: 100px;
    top: 0;
    width: 750px;
    padding: 20px;
}
.front-signup {
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4), 0 1px 2px rgba(0, 0, 0, 0.3) inset;
    padding: 20px;
    position: absolute;
    top: 135px;
    width: 400px;
    right: 100px;
}