body.front-page {
  
}
.front-page #page-outer {
    padding-top: 0;
    position: relative;
    width: 500px;
}
.front-page .rightside {
	padding-top: 20px;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4), 0 1px 2px rgba(0, 0, 0, 0.3) inset;
    opacity: 0.9;
    position: absolute;
    right: 100px;
    top: 0;
    width: 750px;
    padding: 20px;
}
.front-signup {
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4), 0 1px 2px rgba(0, 0, 0, 0.3) inset;
    padding: 20px;
    position: absolute;
    top: 135px;
    width: 400px;
    right: 100px;
}

.home-page .leftside{
	padding-top: 20px;
	position: absolute;
	left: 30px;
	width: 150px;
}
	
.home-page .leftside .profile-image{
	padding-top: 20px;
	
	}	
.home-page .leftside .friends{
	
	}	
.home-page .leftside .hovermenu ul{
font: bold 13px arial;
padding-left: 0;
margin-left: 0;
height: 20px;
}

.home-page .leftside .hovermenu ul li{
list-style: none;
display: inline;

}

.home-page .leftside .hovermenu ul li a{
padding: 2px 0.5em;
text-decoration: none;
float: left;
color: black;
background-color: #e1e1e1; 
border: 2px solid #e1e1e1;
width: 120px;
}

.home-page .leftside .hovermenu ul li a:hover{
background-color: #e5e5e5; 
border-style: outset;
}

.home-page .leftside .hovermenu ul li a:active{ 
border-style: inset;
}

.home-page .rightside{
	padding-top: 20px;
	position: absolute;
	right: 30px;
	width: 150px;
}
	